###########################################################
# Archivos de datos (no subir dataset Sleep-EDF)
# Ignorar todo el contenido de data/ pero permitir .gitkeep
# Ignore everything in data/ recursively
data/**
# But un-ignore directories (so git can traverse them)
!data/**/
# And un-ignore .gitkeep files
!data/**/.gitkeep
*.edf
*.hyp
*.npy
*.npz
*.mat
*.csv
*.tsv
out/*
!out/.gitkeep
tmp/*
!tmp/.gitkeep
*.png
*.jpg
*.jpeg
*.svg

# Archivos temporales de Jupyter
.ipynb_checkpoints/
*.ipynb~

# Archivos de entorno conda/virtualenv
env/
venv/
*.env
*.venv
*.conda

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dll
.ruff_cache/
.mypy_cache/
.pytest_cache/

# Archivos de logs y debug
*.log
*.out
*.err
wget-log*
notes.md

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/
*.iml

# Archivos de compilación/outputs
*.egg-info/
dist/
build/

# Modelos entrenados
models/**/*.pkl
checkpoints/

# # Configuración personal
# *.json

# Vintage (archivos antiguos)
vintage/

# archivos potenciales (todavia no se si implementar)
future/
